@model WebProgOdev.Models.Familyalar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Familyalar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.familyaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familyaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.familyaKod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familyaKod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.familyaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
