@model IEnumerable<WebProgOdev.Models.Familyalar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.familyaAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.familyaKod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.familyaAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.familyaKod)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.familyaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.familyaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.familyaId })
        </td>
    </tr>
}

</table>
